@()

<!-- about page -->
<article id="aboutpage">
    <section id="myPortrait">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src='@routes.Assets.at("img/myPortrait.jpg")'>
                    <div class="caption">
                        <h3></h3>
                        <p>
                            <strong>Jen Meola</strong> brings you the best in New Music from all over the World. Are you Ready To <strong>ROCK THIS!</strong>? Then be sure to log on every week for a brand new episode on <a href="http://www.rockthisnow.com/" target="_blank">RockThisNow.com</a>.
                            <br><br>Jen Meola has a passion to discover, market & promote music to the masses. With over 20 years of experience in the Music/Entertainment industry she has helped develop & break many bands in her career.
                            <br><br>After graduating NYU with a B.A. in Film/ TV and being instrumental at her college Radio Station (<a href="http://wnyu.org/" target="_blank">WNYU</a>) as an on air DJ/ Producer & Promotions Director. Jen was offered a job at Roadrunner Records. During her years as <strong>Director of Radio Promotions at Roadrunner Records</strong> she was involved with launching the careers of such Multi Platinum artists as <strong>Nickelback</strong> & <strong>Slipknot</strong> to name a few.
                            <br><br>As Director of A&R at M+TV an online Music network, Jen Meola produced / hosted live programs & concert events that showcased artists from all over the world. She was responsible for scouting new talent & booking them on the music network. Throughout her career she has helped many local & unsigned bands get National exposure.
                            <br><br>Jen Meola is the Creator, Executive Producer & Host of ROCK THIS, a music video show that she started back in 1999. Jen continues to film new episodes today that showcase up & coming bands from all over the world. Always ahead of the trends Jen has a true ear for talent & is considered to be a Tastemaker among her peers. Jen is willing to take a chance on a band before others jump on the bandwagon & a major label biding war begins. "It's very rewarding being one of the 1st people who interviews a brand new artist or premieres a band's live performance on my show." A perfect example of an artist that Jen Meola featured 1st was when she interviewed Rocco Deluca just before he was about to release his debut CD on Kiefer Sutherland's Record Label. It wasn't until 6 months later that VH1 featured Rocco on their "You Outta Know" campaign.
                            <br><br>Some of the most notable bands/ artists that Jen Meola has Interviewed on ROCK THIS are the Linkin Park, 30 Seconds to Mars, Placebo, Barenaked Ladies, My Chemical Romance, The USED, The Foals, Disturbed, Taking Back Sunday, Rocco Deluca, Head Automatica, Thursday, Motion City Soundtrack, DJ Starscream(Sid from Slipknot), The Gossip, Glasvegas, Starsailor, Veruca Salt, Papa Roach, Helmet, Bouncing Souls, IAMX, Shiny Toy Guns, Cold War Kids, IMA Robot, Black Rebel Motorcycle Club, Mickey Avalon, South, 120 Days, The View, All American Rejects, & & Lifehouse.
                            <br><br>Jen believes that music has no borders. She has always given exposure to International bands on ROCK THIS by promoting bands featured on the Brit Bus Tour, Rock Save the Queen, Musexpo, British Music Embassy, Rock Over London, etc. Jen has been fortunate to travel the world & scout out new talent. She went half way around the world on tour with the Big Day Out Music Festival in Australia. Then went on to become the USA Representative for the International World Battle of the Bands competition. Jen Meola was responsible for organizing the US leg of this annual worldwide music competition in Los Angeles & New York. The USA winning band went on to win the World Battle of the Bands Finals in Hong Kong; Where they scored a Record Deal & International exposure!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </section>
</article>