@()

<!-- contact page -->
<article id="contactpage">
    <br><br>
            <!-- Form tasks i.e. Contact Form i.e. distinct from 'signup form'
                    1. client-side input validation
                      a. determines whether a field is required or not (CHECK)
                      b. does regex pattern matching on input (CHECK)
                      NOTE: there should be one-to-one relationship of equivalence
                      between client-side regexes and server-side ones.
                      c. validates constraints on minimum and maximum input (CHECK)
                      d. sends error messaging to the user via DOM (CHECK)
                      e. show validation states via CSS classes (CHECK)
                    2. form submission (insecure, simple and single-page style)
                       a. saves the form state by data synchronization between the model and view i.e. data binding
                       (without CAPTCHA)
                       b. sends the state back to the server for persistence
                       c. server responds (but how to prevent the server from disrupting user experience?)
                       NOTE: server will check for duplicate email addresses providing some level of security
                    2. form submission (secure but annoying)
                       a. send the data directly back to the server via POST request and validate CAPTCHA
                       b. send the user to the homepage
                    3. usability / aesthetics
                       a. buttons become selected when the user hits 'TAB' disabling rapid form input cycling (CHECK)
                       ** use 'labels' instead'
                       b. city and state, country and zip inline fields (CHECK)
                     -->

        <form name="contactForm" class="form-horizontal" role="form" novalidate>
            <div class="container">
                <div class="col-md-1"></div>
                    <!-- label and input field -->
                <div class="row">
                    <div class="col-md-9">

                        <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.name.$invalid && contactForm.name.$dirty, 'has-success': contactForm.name.$valid && contactForm.name.$dirty }">
                            <label class="control-label col-sm-2" for="input1"> Name </label>
                            <div class="col-sm-10">
                                <input id="input1" name="name" type="text" class="form-control input-lg" ng-model="formCtrl.form.name"
                                ng-pattern="/^[a-zA-Z\']+\ [a-zA-Z\']+$/" ng-minlength="{{ formCtrl.constraints.name[0] }}"
                                ng-maxlength="{{ formCtrl.constraints.name[1] }}" required>

                                <div id="errorMessagesName">
                                    <span class="error" ng-show="contactForm.name.$error.pattern">
                                        <br>
                                        *  Invalid name. Your first name followed by your last please
                                    </span>
                                    <span class="error" ng-show="contactForm.name.$error.required">
                                        <br>
                                        *  Your name is required
                                    </span>
                                    <span class="error" ng-show="contactForm.name.$error.minlength">
                                        <br>
                                        *  Minimum {{ formCtrl.constraints.name[0] }} characters required
                                    </span>
                                    <span class="error" ng-show="contactForm.name.$error.maxlength">
                                        <br>
                                        *  Maximum {{ formCtrl.constraints.name[1] }} characters allowed
                                    </span>
                                        <!-- span to hold the distance when valid -->
                                    <span class="error" ng-show="contactForm.name.$valid">
                                        <br>
                                        <br>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.address.$invalid && contactForm.address.$dirty, 'has-success': contactForm.address.$valid && contactForm.address.$dirty }">
                            <label class="control-label col-sm-2" for="input2"> Address </label>
                            <div class="col-sm-10">
                                <input id="input2" name="address" type="text" class="form-control input-lg" ng-model="formCtrl.form.address"
                                ng-pattern="/^[0-9a-zA-Z\ \.\#\,\;\:\']+$/" ng-minlength="{{ formCtrl.constraints.address[0] }}"
                                ng-maxlength="{{ formCtrl.constraints.address[1] }}" required>
                                <div id="errorMessagesAddress">
                                    <span class="error" ng-show="contactForm.address.$error.pattern">
                                        <br>
                                        * Invalid address. Only some special characters allowed
                                    </span>
                                    <span class="error" ng-show="contactForm.address.$error.required">
                                        <br>
                                        * Your address is required
                                    </span>
                                    <span class="error" ng-show="contactForm.address.$error.minlength">
                                        <br>
                                        * Minimum {{ formCtrl.constraints.address[0] }} charcters required
                                    </span>
                                    <span class="error" ng-show="contactForm.address.$error.maxlength">
                                        <br>
                                        * Maximum {{ formCtrl.constraints.address[1] }} characters allowed
                                    </span>
                                        <!-- span to hold the distance when valid -->
                                    <span class="error" ng-show="contactForm.address.$valid">
                                        <br>
                                        <br>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.city.$invalid && contactForm.city.$dirty, 'has-success': contactForm.city.$valid && contactForm.city.$dirty }">
                                    <label class="control-label col-sm-2" for="input3"> City </label>
                                    <div class="col-sm-10">
                                        <input id="input3" name="city" type="text" class="form-control input-lg" ng-model="formCtrl.form.city"
                                        ng-pattern="/^[a-zA-Z\ \']+$/" ng-minlength="{{ formCtrl.constraints.city[0] }}"
                                        ng-maxlength="{{ formCtrl.constraints.city[1] }}" required>
                                        <div id="errorMessagesCity">
                                            <span class="error" ng-show="contactForm.city.$error.pattern">
                                                <br>
                                                * Invalid city. Only letters and spaces please
                                            </span>
                                            <span class="error" ng-show="contactForm.city.$error.required">
                                                <br>
                                                * Your city is required
                                            </span>
                                            <span class="error" ng-show="contactForm.city.$error.minlength">
                                                <br>
                                                * Minimum {{ formCtrl.constraints.city[0] }} charcters required
                                            </span>
                                            <span class="error" ng-show="contactForm.city.$error.maxlength">
                                                <br>
                                                * Maximum {{ formCtrl.constraints.city[1] }} characters allowed
                                            </span>
                                                <!-- span to hold the distance when valid -->
                                            <span class="error" ng-show="contactForm.city.$valid">
                                                <br>
                                                <br>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.state.$invalid && contactForm.state.$dirty, 'has-success': contactForm.state.$valid && contactForm.state.$dirty }">
                                    <label class="control-label col-sm-2" for="input4"> State </label>
                                    <div class="col-sm-10">
                                        <input id="input4" name="state" type="text" class="form-control input-lg" ng-model="formCtrl.form.state"
                                        ng-pattern="/^[a-zA-Z\ \']+$/" ng-minlength="{{ formCtrl.constraints.state[0] }}"
                                        ng-maxlength="{{ formCtrl.constraints.state[1] }}" required>
                                        <div id="errorMessagesState">
                                            <span class="error" ng-show="contactForm.state.$error.pattern">
                                                <br>
                                                * Invalid state. Only letters and spaces please
                                            </span>
                                            <span class="error" ng-show="contactForm.state.$error.required">
                                                <br>
                                                * Your state is required
                                            </span>
                                            <span class="error" ng-show="contactForm.state.$error.minlength">
                                                <br>
                                                * Minimum {{ formCtrl.constraints.state[0] }} charcters required
                                            </span>
                                            <span class="error" ng-show="contactForm.state.$error.maxlength">
                                                <br>
                                                * Maximum {{ formCtrl.constraints.state[1] }} characters allowed
                                            </span>
                                                <!-- span to hold the distance when valid -->
                                            <span class="error" ng-show="contactForm.state.$valid">
                                                <br>
                                                <br>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end row i.e. the subdivision of the collumn of medium size length 9 -->

                        <br>


                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.country.$invalid && contactForm.country.$dirty, 'has-success': contactForm.country.$valid && contactForm.country.$dirty }">
                                    <label for="input6" class="control-label col-sm-2"> Country </label>
                                    <div class="col-sm-10">
                                        <select id="input6" name="country" type="text" class="form-control input-lg" ng-model="formCtrl.form.country" required>
                                            <option value="US">United States</option>
                                            <option value="CA">Canada</option>
                                            <option value="AF">Afghanistan</option>
                                            <option value="AL">Albania</option>
                                            <option value="DZ">Algeria</option>
                                            <option value="AD">Andorra</option>
                                            <option value="AO">Angola</option>
                                            <option value="AI">Argentina</option>
                                            <option value="AQ">Antartica</option>
                                            <option value="AG">Antigua and Barbuda</option>
                                            <option value="AR">Argentina</option>
                                            <option value="AM">Armenia</option>
                                            <option value="AW">Aruba</option>
                                            <option value="AU">Australia</option>
                                            <option value="AT">Austria</option>
                                            <option value="AZ">Azerbaijan</option>
                                            <option value="BS">Bahamas</option>
                                            <option value="BH">Bharain</option>
                                            <option value="BD">Bangladesh</option>
                                            <option value="BB">Barbados</option>
                                            <option value="BY">Belarus</option>
                                            <option value="BE">Belgium</option>
                                            <option value="BZ">Belize</option>
                                            <option value="BJ">Benin</option>
                                            <option value="BM">Bermuda</option>
                                            <option value="BT">Bhutan</option>
                                            <option value="BO">Bolivia</option>
                                            <option value="BA">Bosnia and Herzegowina</option>
                                            <option value="BW">Botswana</option>
                                            <option value="BV">Bouvet Island</option>
                                            <option value="BR">Brazil</option>
                                            <option value="IO">British Indian Ocean Territory</option>
                                            <option value="VG">British Virgin Islands</option>
                                            <option value="BN">Brunei Darussalam</option>
                                            <option value="BG">Bulgaria</option>
                                            <option value="BF">Burkina Faso</option>
                                            <option value="BI">Burundi</option>
                                            <option value="KH">Cambodia</option>
                                            <option value="CM">Cameroon</option>
                                            <option value="CA">Canada</option>
                                            <option value="CV">Cape Verde</option>
                                            <option value="KY">Cayman Islands</option>
                                            <option value="CF">Central African Republic</option>
                                            <option value="TD">Chad</option>
                                            <option value="CL">Chile</option>
                                            <option value="CX">Christmas Island</option>
                                            <option value="CC">Cocos (Keeling) Islands</option>
                                            <option value="CO">Colombia</option>
                                            <option value="KM">Comoros</option>
                                            <option value="CG">Congo</option>
                                            <option value="CK">Cook Islands</option>
                                            <option value="CR">Costa Rica</option>
                                            <option value="CI">Cote d'Ivoire</option>
                                            <option value="HR">Croatia</option>
                                            <option value="CU">Cuba</option>
                                            <option value="CY">Cyprus</option>
                                            <option value="CZ">Czech Republic</option>
                                            <option value="DK">Denmark</option>
                                            <option value="DJ">Djibouti</option>
                                            <option value="DM">Dominica</option>
                                            <option value="DO">Dominican Republic</option>
                                            <option value="TP">East Timor</option>
                                            <option value="EC">Ecuador</option>
                                            <option value="EG">Egypt</option>
                                            <option value="SV">El Salvador</option>
                                            <option value="GQ">Equatorial Guinea</option>
                                            <option value="ER">Eritrea</option>
                                            <option value="EE">Estonia</option>
                                            <option value="ET">Ethiopia</option>
                                            <option value="FK">Falkland Islands</option>
                                            <option value="FO">Faroe Islands</option>
                                            <option value="FJ">Fiji</option>
                                            <option value="FI">Finland</option>
                                            <option value="FR">France</option>
                                            <option value="GF">French Guiana</option>
                                            <option value="PF">French Polynesia</option>
                                            <option value="GA">Gabon</option>
                                            <option value="GM">Gambia</option>
                                            <option value="GE">Georgia</option>
                                            <option value="DE">Germany</option>
                                            <option value="GI">Gibraltar</option>
                                            <option value="GR">Greece</option>
                                            <option value="GL">Greenland</option>
                                            <option value="GD">Grenada</option>
                                            <option value="VC">Grenadines</option>
                                            <option value="GP">Guadelope</option>
                                            <option value="GU">Guam</option>
                                            <option value="GT">Guatemala</option>
                                            <option value="GN">Guinea</option>
                                            <option value="GW">Guinea-Bissau</option>
                                            <option value="GY">Guyana</option>
                                            <option value="HT">Haiti</option>
                                            <option value="HM">Heard and McDonald Islands</option>
                                            <option value="HN">Honduras</option>
                                            <option value="HK">Hong Kong</option>
                                            <option value="HU">Hungary</option>
                                            <option value="IS">Iceland</option>
                                            <option value="IN">India</option>
                                            <option value="ID">Indonesia</option>
                                            <option value="IR">Iran</option>
                                            <option value="IQ">Iraq</option>
                                            <option value="IE">Ireland</option>
                                            <option value="IL">Israel</option>
                                            <option value="IT">Italy</option>
                                            <option value="JM">Jamaica</option>
                                            <option value="JP">Japan</option>
                                            <option value="JO">Jordan</option>
                                            <option value="KZ">Kazakhstan</option>
                                            <option value="KE">Kenya</option>
                                            <option value="KI">Kiribati</option>
                                            <option value="KP">Korea, People's Republic</option>
                                            <option value="KR">Korea, ROK</option>
                                            <option value="KW">Kuwait</option>
                                            <option value="KG">Kyrgyzstan</option>
                                            <option value="LA">Lao Democratic Republic</option>
                                            <option value="LV">Latvia</option>
                                            <option value="LB">Lebanon</option>
                                            <option value="LS">Lesotho</option>
                                            <option value="LR">Liberia</option>
                                            <option value="LY">Libyan Arab Jamahiriyah</option>
                                            <option value="LI">Liechtenstein</option>
                                            <option value="LT">Lithuania</option>
                                            <option value="LU">Luxembourg</option>
                                            <option value="MO">Macau</option>
                                            <option value="MK">Macedonia</option>
                                            <option value="MG">Madagaskar</option>
                                            <option value="MW">Malawi</option>
                                            <option value="MY">Malaysia</option>
                                            <option value="MV">Maldives</option>
                                            <option value="ML">Mali</option>
                                            <option value="MT">Malta</option>
                                            <option value="MH">Marshall Islands</option>
                                            <option value="MQ">Martinique</option>
                                            <option value="MR">Mauritania</option>
                                            <option value="MU">Mauritius</option>
                                            <option value="YT">Mayotte</option>
                                            <option value="MX">Mexico</option>
                                            <option value="FM">Micronesia</option>
                                            <option value="MD">Moldova, Rep. of</option>
                                            <option value="MC">Monaco</option>
                                            <option value="MN">Mongolia</option>
                                            <option value="MS">Montserrat</option>
                                            <option value="MA">Morocco</option>
                                            <option value="MZ">Mozambique</option>
                                            <option value="MM">Myanmar</option>
                                            <option value="NA">Namibia</option>
                                            <option value="NR">Nauru</option>
                                            <option value="NP">Nepal</option>
                                            <option value="NL">Netherlands</option>
                                            <option value="AN">Netherlands Antilles</option>
                                            <option value="NC">New Caledonia</option>
                                            <option value="NZ">New Zealand</option>
                                            <option value="NI">Nicaragua</option>
                                            <option value="NE">Niger</option>
                                            <option value="NG">Nigeria</option>
                                            <option value="NU">Niue</option>
                                            <option value="NF">Norfolk Island</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="NO">Norway</option>
                                            <option value="OM">Oman</option>
                                            <option value="PK">Pakistan</option>
                                            <option value="PW">Palau</option>
                                            <option value="PA">Rep. of Panama</option>
                                            <option value="PG">Papua New Guinea</option>
                                            <option value="PY">Paraguay</option>
                                            <option value="CN">People's Rep. China</option>
                                            <option value="PE">Peru</option>
                                            <option value="PH">Philippines</option>
                                            <option value="PN">Pitcairn</option>
                                            <option value="PL">Poland</option>
                                            <option value="PT">Portugal</option>
                                            <option value="QA">Qatar</option>
                                            <option value="RE">Reunion</option>
                                            <option value="RO">Romania</option>
                                            <option value="RU">Russia</option>
                                            <option value="RW">Rwanda</option>
                                            <option value="KN">Saint Kitts and Nevis</option>
                                            <option value="LC">Saint Lucia</option>
                                            <option value="WS">Samoa</option>
                                            <option value="SM">Rep. San Marino</option>
                                            <option value="ST">São Tome and Principe</option>
                                            <option value="SA">Saudi Arabia</option>
                                            <option value="SN">Senegal</option>
                                            <option value="SC">Seychelles</option>
                                            <option value="SL">Sierra Leone</option>
                                            <option value="SG">Singapore</option>
                                            <option value="SK">Slovakia</option>
                                            <option value="SI">Slovenia</option>
                                            <option value="SB">Solomon Islands</option>
                                            <option value="SO">Somalia</option>
                                            <option value="ZA">South Africa</option>
                                            <option value="ES">Spain</option>
                                            <option value="LK">Rep. of Sri Lanka</option>
                                            <option value="SH">St. Helena</option>
                                            <option value="PM">St. Pierre and Miquelon</option>
                                            <option value="SD">Sudan</option>
                                            <option value="SR">Suriname</option>
                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                            <option value="SZ">Swaziland</option>
                                            <option value="SE">Sweden</option>
                                            <option value="CH">Switzerland</option>
                                            <option value="SY">Syrian Arab Republic</option>
                                            <option value="TW">Taiwan, ROC</option>
                                            <option value="TJ">Tajikstan</option>
                                            <option value="TZ">Tanzania</option>
                                            <option value="TH">Thailand</option>
                                            <option value="TG">Togo</option>
                                            <option value="TK">Tokelau</option>
                                            <option value="TO">Tonga</option>
                                            <option value="TT">Trinidad West Indies</option>
                                            <option value="TN">Tunisia</option>
                                            <option value="TR">Turkey</option>
                                            <option value="TM">Turkmenistan</option>
                                            <option value="TC">Turks and Caicos Islands</option>
                                            <option value="TV">Tuvalu</option>
                                            <option value="UG">Uganda</option>
                                            <option value="UA">Ukraine</option>
                                            <option value="AE">UAE</option>
                                            <option value="UK">United Kingdom</option>
                                            <option value="UY">Uruguay</option>
                                            <option value="VI">US Virgin Islands</option>
                                            <option value="UZ">Uzbekistan</option>
                                            <option value="VU">Vanuatu</option>
                                            <option value="VA">Vatican City State</option>
                                            <option value="VE">Venezuela</option>
                                            <option value="VN">Vietnam</option>
                                            <option value="WF">Wallis and Futuna Islands</option>
                                            <option value="EH">Western Sahara</option>
                                            <option value="YE">Yemen</option>
                                            <option value="YU">Yugoslavia</option>
                                            <option value="ZR">Zaire</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                        <div id="errrorMessagesCountry">
                                            <span class="error" ng-show="contactForm.country.$error.required">
                                                <br>
                                                * Please select a country
                                            </span>
                                                <!-- span to hold the distance when valid -->
                                            <span class="error" ng-show="contactForm.country.$valid">
                                                <br>
                                                <br>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-5">
                                <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.zip.$invalid && contactForm.zip.$dirty, 'has-success': contactForm.zip.$valid && contactForm.zip.$dirty }">
                                    <label class="control-label col-sm-2" for="input5"> Zip </label>
                                    <div class="col-sm-10">
                                        <input id="input5" name="zip" type="text" class="form-control input-lg" ng-model="formCtrl.form.zip"
                                        ng-pattern="/^[0-9]+$/" ng-minlength="{{ formCtrl.constraints.zip[0] }}"
                                        ng-maxlength="{{ formCtrl.constraints.zip[1] }}" required>
                                        <div id="errorMessagesZip">
                                            <span class="error" ng-show="contactForm.zip.$error.pattern">
                                                <br>
                                                * Invalid zip code. Digits only please
                                            </span>
                                            <span class="error" ng-show="contactForm.zip.$error.required">
                                                <br>
                                                * Your zip code is required
                                            </span>
                                            <span class="error" ng-show="contactForm.zip.$error.minlength">
                                                <br>
                                                * Minimum {{ formCtrl.constraints.zip[0] }} charcters required
                                            </span>
                                            <span class="error" ng-show="contactForm.zip.$error.maxlength">
                                                <br>
                                                * Maximum {{ formCtrl.constraints.zip[1] }} characters allowed
                                            </span>
                                                <!-- span to hold the distance when valid -->
                                            <span class="error" ng-show="contactForm.zip.$valid">
                                                <br>
                                                <br>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end row -->

                        <br>

                        <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.phone.$invalid && contactForm.phone.$dirty, 'has-success': contactForm.phone.$valid && contactForm.phone.$dirty }">
                            <label class="control-label col-sm-2" for="input7"> Phone </label>
                            <div class="col-sm-10">
                                <input id="input7" name="phone" type="text" class="form-control input-lg" ng-model="formCtrl.form.phone"
                                ng-pattern="/^[0-9]+$/" ng-minlength="{{ formCtrl.constraints.phone[0] }}"
                                ng-maxlength="{{ formCtrl.constraints.phone[1] }}" required>
                                <div id="errorMessagesPhone">
                                    <span class="error" ng-show="contactForm.phone.$error.pattern">
                                        <br>
                                        * Invalid phone number. Digits only please
                                    </span>
                                    <span class="error" ng-show="contactForm.phone.$error.required">
                                        <br>
                                        * Your phone number is required
                                    </span>
                                    <span class="error" ng-show="contactForm.phone.$error.minlength">
                                        <br>
                                        * Minimum {{ formCtrl.constraints.phone[0] }} charcters required
                                    </span>
                                    <span class="error" ng-show="contactForm.phone.$error.maxlength">
                                        <br>
                                        * Maximum {{ formCtrl.constraints.phone[1] }} characters allowed
                                    </span>
                                    <span class="error" ng-show="contactForm.phone.$valid">
                                        <br>
                                        <br>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.email.$invalid && contactForm.email.$dirty, 'has-success': contactForm.email.$valid && contactForm.email.$dirty }">
                            <label class="control-label col-sm-2" for="input8"> Email </label>

                                <!-- NOTE on regex interpretation; Play Twirl looks at '@@'
                                seqeunce of characters as an escaped commencement of a dynamic expression.
                                A preceeding 'at sign' is needed to escape it within the regex passed to
                                ng-pattern. At sign is said as it is reading this comment.
                                -->
                            <div class="col-sm-10">
                                <input id="input8" name="email" type="text" class="form-control input-lg" ng-model="formCtrl.form.email"
                                ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                                ng-minlength="{{ formCtrl.constraints.email[0] }}"
                                ng-maxlength="{{ formCtrl.constraints.email[1] }}" required>
                                <div id="errorMessagesEmail">
                                    <span class="error" ng-show="contactForm.email.$error.pattern">
                                        <br>
                                        * Invalid email address
                                    </span>
                                    <span class="error" ng-show="contactForm.email.$error.required">
                                        <br>
                                        * Your email is required
                                    </span>
                                    <span class="error" ng-show="contactForm.email.$error.minlength">
                                        <br>
                                        * Minimum {{ formCtrl.constraints.email[0] }} charcters required
                                    </span>
                                    <span class="error" ng-show="contactForm.email.$error.maxlength">
                                        <br>
                                        * Maximum {{ formCtrl.constraints.email[1] }} characters allowed
                                    </span>
                                    <span class="error" ng-show="contactForm.email.$valid">
                                        <br>
                                        <br>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="form-group form-group-lg" ng-class="{ 'has-error': contactForm.message.$invalid && contactForm.message.$dirty, 'has-success': contactForm.message.$valid && contactForm.message.$dirty }">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">

                                <label for="message" class="control-label"> Have something you want to tell us? Leave a message </label>
                                <br><br>

                                <textarea id="message" name="message" type="text" rows="6" class="form-control input-lg"
                                ng-pattern="/^[\S\s]*$/" ng-model="formCtrl.form.message"
                                ng-maxlength="{{ formCtrl.constraints.message[1] }}">
                                </textarea>

                                    <!-- NOTE: in attempting to reuse the message property from the form
                                    and the messageLength function evaluation problems encountered -->
                                <div id="errorMessagesMessage">
                                    <span class="error"
                                    ng-show="contactForm.message.$valid &&
                                                 !contactForm.message.$error.maxlength &&
                                                 !contactForm.message.$error.pattern">
                                        <br>
                                        {{ formCtrl.messageLength(formCtrl.form.message) }} / 1732 characters left
                                    </span>

                                    <span class="error" ng-show="contactForm.message.$error.pattern">
                                        <br>
                                        * Invalid message. Please use more conventional characters
                                    </span>
                                    <span class="error" ng-show="contactForm.message.$error.maxlength">
                                        <br>
                                        * Maximum of {{ formCtrl.constraints.message[1] }} characters surpassed
                                    </span>
                                </div>

                                <div id="submitButton">
                                    <br><br>
                                    <button type="submit" class="btn btn-default btn-lg" ng-disabled="contactForm.$invalid" ng-click="formCtrl.submitForm()" data-toggle="modal" data-target="#myModal">Submit</button>
                                    <br><br><br><br>

                                        <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Submission Successful</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Thank you for taking the time to contact us! <br><br> We will follow up as soon as possible
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div> <!-- end col md 9 -->
                </div> <!-- end row -->
                <div class="col-md-2"></div>
            </div> <!-- end div class container -->
        </form>
</article>
