@()

<footer>

    <div class="col-md-10">
        <address>
            <style>
            ul
            {
            list-style-type: none;
            padding:0;
            margin:0;
            }
            </style>
            <ul>
                <li>ROCK THIS!</li>
                <li>email: <a ng-click="tab.setTab(6)">click here</a></li>
            </ul>
        </address>
    </div>

    <div class="col-md-2">
        <a class="btn btn-default btn-lg" role="button" href="@routes.Application.signin()">Sign In</a>
    </div>
</footer>