@(message: String)

@main(message) {


<div ng-controller="TabController as tab">

    <!-- page header -->
    <ng-header></ng-header>

    <!-- <ng-front-page></ng-front-page> -->

    <article id="frontpage" ng-show="tab.isSet(0)">
            <!-- front page -->
            <!-- carousel will freeze when referenced as a directive; oddity of referencing of deps? -->
            <!-- alternative : call carousel as a file function with twirl -->
            <!-- <ng-front-page></ng-front-page> -->
        @carousel()


            <!-- features load too slowly on the front page -->
            <!--
            <br>
            <hr>
            <br>
        <ng-features2></ng-features2>
        -->
    </article>


    <!-- interview gallery -->
    <ng-interview-gallery ng-show="tab.isSet(1)"></ng-interview-gallery>

    <!-- performance gallery -->
    <ng-performance-gallery ng-show="tab.isSet(2)"></ng-performance-gallery>

    <!-- <ng-features ng-show="tab.isSet(3)"></ng-features> -->
    <ng-features ng-show="tab.isSet(3)"></ng-features>

    <!-- new releases component -->
    <article id="newReleases"></article>

    <!-- about page -->
     <ng-about ng-show="tab.isSet(5)"></ng-about>

    <!-- contact form page -->
    <ng-contact-form ng-show="tab.isSet(6)"></ng-contact-form>

    <hr>

    <ng-footer></ng-footer>

</div>

}
